* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One";
}
body {
  background-color: #172939;
  position: relative;
}
.app {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: relative;
}
/* row-1 */
.row-1 {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin: 0px;
  height: 50px;
}
.game-name {
  font-size: 35px;
  margin-left: 15%;
  color: aliceblue;
}
.btn-boxes {
  display: flex;
  justify-content: space-around;
  margin-right: 10%;
}
.restart-btn,
.new-game-btn {
  line-height: 50px;
  font-size: 20px;
  margin: 0px 20px;
  color: aliceblue;
  padding: 0px 20px;
  border-radius: 15px;
}
.restart-btn {
  background-color: #fca314;
}
.new-game-btn {
  background-color: #db4242;
  color: rgb(255, 255, 255);
}
.new-game-btn:hover,
.restart-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.75s;
}
/* row-2 */
.row-2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.row-2 .wrap-box {
  display: flex;
  width: 480px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.row-2 .wrap-box .box {
  width: 100px;
  height: 100px;
  background-color: #a1a1a1;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  line-height: 100px;
  font-size: 30px;
}
.row-2 .wrap-box .box:hover {
  transition: 0.25s;
  cursor: pointer;
}
/* row-3 */
.row-3 {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.remain,
.score,
.count-time {
  line-height: 50px;
  font-size: 20px;
  margin: 0px 20px;
  color: aliceblue;
  padding: 0px 10px;
  border-radius: 15px;
}

.box span {
  opacity: 0;
}

/* row-4 */
.row-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ready-box,
.out-of-time-box,
.user-score-box {
  background-color: aliceblue;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 30px;
  position: absolute;
  top: 240px;
}
.ready-box .rd-btn {
  text-align: center;
  padding: 20px;
  background-color: aqua;
  border-radius: 10px;
}
.ready-box .rd-btn:hover {
  cursor: pointer;
}
.user-score-box {
  flex-direction: column;
  gap: 20px;
}
.back-btn {
  background-color: rgb(201, 52, 52);
  padding: 20px;
  border-radius: 10px;
}
.back-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.show {
  background-color: rgb(59, 59, 243);
}
.rule {
  position: absolute;
  background-color: beige;

  top: 200px;
  left: 33.5%;
  width: 500px;
  padding: 50px;
  z-index: 1;
  align-items: center;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
}
.rule button {
  font-size: 20px;
  border: none;
  padding: 20px;
  margin-top: 20px;
  background-color: aquamarine;
  border-radius: 20px;
}
.rule button:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* Mobile */
@media only screen and (max-width: 740px) {
  .rule {
    width: 300px;
    font-size: 16px;
    left: 12%;
    top: 33%;
    background-color: beige;
  }
  .row-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .restart-btn,
  .new-game-btn,
  .game-name {
    font-size: 14px;
    margin: 0;
  }
  .game-name {
    font-size: 16px;
    line-height: 50px;
  }
  .new-game-btn {
    margin-left: 25px;
  }
  .btn-boxes {
    margin: 0;
  }
  .row-2 {
    margin-top: 120px;
  }
  .row-2 .wrap-box {
    width: 400px;
  }
  .row-2 .wrap-box .box {
    width: 75px;
    height: 75px;
    line-height: 75px;
  }
  .row-3 {
    margin-top: 100px;
  }
  .remain,
  .score,
  .count-time {
    font-size: 15px;
  }
}
/* Tablet */
@media only screen and (min-width: 740px) and (max-width: 1180px) {
  .rule {
    top: 45%;
    left: 20%;
  }
  .ready-box {
    margin-top: 200px;
  }
  .row-2 .wrap-box {
    margin-top: 80px;
    width: 660px;
  }
  .row-2 .wrap-box .box {
    width: 150px;
    height: 150px;
    background: #fca314;
    line-height: 150px;
    font-size: 50px;
  }
  .row-3 {
    margin-top: 80px;
  }
  .remain,
  .score,
  .count-time {
    font-size: 30px;
  }
}

/* JS Event */
.none {
  display: none;
}
.blue-bg {
  background: rgb(85, 121, 238);
}
